<link rel="apple-touch-icon" sizes="192x192" href="images/icon.jpg">
<link rel="icon" type="image/png" sizes="192x192" href="images/icon.jpg">
<link rel="icon" type="image/png" sizes="192x192" href="images/icon.jpg">
<link rel="manifest" href="images/site.webmanifest">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="images/icon.jpg?v=M44lzPylqQ">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>
<style>
  @font-face {
      font-family: 'honglei';
      src: url('assets/fonts/honglei.ttf') format('truetype'); /* 确保路径正确 */
      font-weight: normal;
      font-style: normal;
  }

</style>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
